<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="./css/cadastro.css">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet">
  <title>Cadastro</title>
</head>

<body>
  <main>
    <header>
      <nav>
        <a href="/" class="nav-back"><img src="./assets/arrow-left.svg" alt="voltar"></a>
        <span>Amigo Fit</span>
      </nav>
    </header>
    <section>

      <form method="post" class="form-cadastro" onsubmit="ValidaCadastro(window.event);">
        <span class="form-header">Cadastro</span>
        <label for="cpf">CPF</label>
        <input name="cpf" type="text" placeholder="insera seu cpf" required maxlength="11" autocomplete="off" class="form-input" onkeydown="javascript: return EntradaNumerica(window.event);" onfocus="RemoveMak(window.event)" onblur="FormatarCPF(window.event.target)" />
        <label for="email">EMAIL</label>
        <input name="email" type="text" placeholder="insera seu email" autocomplete="off" required class="form-input" />
        <label for="nome">NOME</label>
        <input name="nome" type="text" placeholder="insera seu nome" required autocomplete="off" class="form-input" />
        <label for="celular">CELULAR</label>
        <input name="celular" type="text" placeholder="insera seu celular" required autocomplete="off" maxlength="11" class="form-input" onkeydown="javascript: return EntradaNumerica(window.event);" onfocus="RemoveMak(window.event)" onblur="FormatarCelular(window.event.target)" />
        <label for="senha">SENHA</label>
        <input name="senha" type="password" placeholder="Senha" required class="form-input" />
        <input type="submit" value="SALVAR" class="button" />
      </form>
    </section>
  </main>
  <script src="utils.js"></script>
</body>

</html>
