<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="./css/dadosbancarios.css">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet">
  <title>Dados Bancarios</title>
</head>

<body>
  <main>
    <header>
      <nav>
        <a href="/" class="nav-back"><img src="./assets/arrow-left.svg" alt="voltar"></a>
        <span>Amigo Fit</span>
      </nav>
    </header>
    <section>

      <form class="form-cadastro">
        <span class="form-header">Dados Bancarios</span>
        <label for="banco">BANCO</label>
        <input name="banco" type="text" placeholder="digite o nome do seu banco" class="form-input" />
        <label for="agencia">AGÊNCIA</label>
        <input name="agencia" type="text" placeholder="XXXXXX" class="form-input" />
        <label for="conta">CONTA</label>
        <input name="conta" type="text" placeholder="XXXXXXXX-X" class="form-input" />
        <label for="tipo">TIPO</label>
        <input name="tipo" type="text" placeholder="selecione o tipo da conta" class="form-input" />
        <input type="submit" value="SALVAR" class="button" />
      </form>
    </section>
  </main>
</body>

</html>
