<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="./css/style.css">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet">
  <title>Home</title>
</head>

<body>
  <main>
    <header>
      <nav>
        <a href="/logout" class="nav-logout">Sair</a>
        <span>Amigo Fit</span>
        <a href="/dadosbancarios" class="nav-profile">Perfil</a>
      </nav>
    </header>
    <section>

      <div class="container">
        <img src="./assets/logo2.png" alt="logo" class="logo">
        <img src="./assets/capa.jpg" alt="capa" class="capa">

        <div class="estatistica">
          <div class="label-header">Estatísticas</div>
          <div class="card">
            <div class="card-label">
              INDICADOS
            </div>
            <div class="card-body">
              <%= dados.indicados %>
            </div>
          </div>
          <div class="card">
            <div class="card-label">
              ATIVOS
            </div>
            <div class="card-body">
              <%= dados.ativos %>
            </div>
          </div>
          <div class="card">
            <div class="card-label">
              INATIVOS
            </div>
            <div class="card-body">
              <%= dados.inativos %>
            </div>
          </div>
        </div>

        <div class="bonus">
          <div class="label-header">
            BONUS
          </div>
          <div class="bonus-content">
            <%= dados.bonus %>
          </div>
        </div>
        <a href="/indicacoes" class="button">INDICAR</a>
      </div>
    </section>
  </main>
</body>

</html>
