<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="./css/indicacoes.css">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet">
  <title>Cadastro de Indicações</title>
</head>

<body>
  <main>
    <header>
      <nav>
        <a href="/" class="nav-back"><img src="./assets/arrow-left.svg" alt="voltar"></a>
        <span>Amigo Fit</span>
      </nav>
    </header>
    <section>

      <form class="form-cadastro">
        <span class="form-header">Cadastro de Indicações</span>
        <label for="cpf">CPF</label>
        <input name="cpf" type="text" placeholder="insera seu cpf" class="form-input" />
        <label for="nome">NOME</label>
        <input name="nome" type="text" placeholder="insera seu nome" class="form-input" />
        <label for="celular">CELULAR</label>
        <input name="celular" type="text" placeholder="insera seu celular" class="form-input" />
        <input type="submit" value="SALVAR" class="button" />
      </form>
    </section>
  </main>
</body>

</html>
