<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="./css/login.css">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet">
  <title>Login</title>
</head>

<body>
  <main>
    <header>
      <nav>
        <span>Amigo Fit</span>
      </nav>
    </header>
    <section>
      <img src='./assets/logo1.png' alt='logo1' class="logo" />
      <form method="post" action="/login" class="form-signin">
        <img src='./assets/logo2.png' alt='logo2' />
        <input name="username" type="text" placeholder="Email" class="form-input" />
        <input name="password" type="password" placeholder="Senha" class="form-input" />
        <div id="opcoes">
          <a href="/cadastro" class="opcoes-cadastro">Cadastro</a>
          <a href="#" class="opcoes-esqueci-senha">Esqueci a Senha</a>
        </div>
        <input type="submit" value="ENTRAR" class="button" />
      </form>
    </section>
  </main>
</body>

</html>
