* {
  margin: 0px;
  padding: 0px;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}


body {
  font-family: 'Roboto', sans-serif;
}

.sair {
  color: rgba(0,0,0,.5);
  text-decoration: none;
}

.sair:hover {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

.form-signin {
  width: 100%;
  max-width: 530px;
  padding: 1rem;
  margin: auto;
}

.container {
  margin-top: 3em;
}

.card-title {
  text-align: center;
}

.text-secundary-color{
  color: #f1363a;
}

.bg-secundary-color{
  background-color: #f1363a;
  border-color: #f1363a;
}

.bg-secundary-color:hover {
  background-color: #f1363a;
  border-color: #f1363a;
  opacity: 0.75
}
