* {
  margin: 0px;
  padding: 0px;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}


body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #000000;
}

.sair {
  color: rgba(0,0,0,.5);
  text-decoration: none;
}

.sair:hover {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

.form-signin {
  width: 100%;
  max-width: 530px;
  padding: 1rem;
  margin: auto;
}

.container {
  margin-top: 3em;
}

.form-signin img {
  margin-bottom: 1em;
}

.card-link {
  margin-bottom: 1em;
}

.text-secundary-color{
  color: #f1363a;
}

.bg-secundary-color{
  background-color: #f1363a;
  border-color: #f1363a;
  color: white;
}

.bg-secundary-color:hover,.bg-secundary-color:active,.bg-secundary-color:focus {
  background-color: #f1363a;
  border-color: #f1363a;
  opacity: 0.75
}

.brand {
  text-align: center;
  display: block;
  margin: auto;
  background:#201e1e;
  border-radius: 16px;
  padding: 1em;
  max-width: 100%;
}

.bg-light {
  background-color: #1e4f6e!important;
}