* {
  margin: 0px;
  padding: 0px;
}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.sair {
  color: rgba(0,0,0,.5);
  text-decoration: none;
}

.sair:hover {
  color: rgba(0,0,0,.7);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.estatisticas {
  max-width: 36rem;
  margin: 0 auto;
}

iframe{
  max-width: 100% !important;
}

.text-secundary-color{
  color: #f1363a;
}

.bg-secundary-color{
  background-color: #f1363a;
  border-color: #f1363a;
  color: white;
  text-transform: uppercase;
}

.bg-secundary-color:hover,.bg-secundary-color:active,.bg-secundary-color:focus {
  background-color: #f1363a;
  border-color: #f1363a;
  opacity: 0.75
}

@media (max-width: 767px) {
  h4 {
    font-size: 0.74rem;
  }
  .col-4,.col {
    padding-left: 5px;
    padding-right: 5px;
  }
}
